@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");
:root {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-overflow-scrolling: auto;
  -webkit-touch-callout: none;
  overflow-y: auto;
}

body {
  margin: 0;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  min-height: 100%;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img, picture {
  max-width: 100%;
  height: auto;
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden] {
  display: none;
}

@media print {
  /**
   * 1. Black prints faster: http://www.sanbeiji.com/archives/953
   */
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important; /* [1] */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don’t show links that are fragment identifiers, or use the `javascript:`
   * pseudo protocol.
  */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }
  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /**
   * Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr,
img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
h3 {
    page-break-after: avoid;
  }
}
:root {
  --baseline: 1.625;
  --base-font-size: 16px;
  --font-family:"Poppins" , sans-serif;
  --font-weight: 400;
}

html, body {
  font-size: var(--base-font-size);
  line-height: var(--baseline);
}

html.noscroll {
  overflow: hidden;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background-color: var(--color-bg-white);
}

.is-fixed {
  position: fixed;
  left: 0;
  width: 100%;
}

.mb-2 {
  margin-bottom: 1.6rem;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-border-sign-un: #BCD0E5;
  --color-green-bg: #02897A;
}

.light {
  --color-text-black: #22343D;
  --color-text-white: #fff;
  --color-bg-white: #fff;
  --color-bg-black: #000;
  --color-black-text: #000;
  --color-white-text: #fff;
  --color-green: #02897A;
  --color-blue: #4D8DFF;
  --color-violet: #740A76;
  --color-orange: #F03E3D;
  --color-marengo: #475E69;
  --color-slate-gray: #30444E;
  --color-green-blue: #1F2E35;
  --color-logo: #173A56;
  --color-menu-active: rgba(255, 255, 255, 0.6);
  --color-menu-body: #fff;
  --color-menu-992: #fff;
  --color-title: #22343D;
}

.dark {
  --color-text-black: #fff;
  --color-text-white: #000;
  --color-bg-white: #1F2E35;
  --color-bg-black: #fff;
  --color-menu-active: rgba(0, 0, 0, 0.6);
  --color-logo: #fff;
  --color-menu-body: #1F2E35;
  --color-menu-992: #1F2E35;
  --color-title: #fff;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1360px;
  }
}
@media screen and (min-width: 1680px) {
  .container {
    max-width: 1550px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row > .col, .row > [class*=col-] {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row-flush {
  margin-left: 0;
  margin-right: 0;
}
.row-flush > .col,
.row-flush > [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.row-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 428px) {
  .row-xs-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-xs-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-xs-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-xs-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-xs-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-xs-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 576px) {
  .row-sm-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-sm-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-sm-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-sm-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-sm-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .row-md-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-md-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-md-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-md-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-md-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-md-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .row-lg-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-lg-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-lg-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-lg-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-lg-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-lg-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .row-xl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-xl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-xl-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-xl-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-xl-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-xl-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .row-xxl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-xxl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-xxl-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-xxl-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-xxl-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-xxl-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .row-3xl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-3xl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-3xl-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-3xl-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-3xl-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-3xl-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.offset-0 {
  margin-left: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.offset-3 {
  margin-left: 25%;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.offset-6 {
  margin-left: 50%;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.offset-9 {
  margin-left: 75%;
}

.order-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.order-11 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.order-12 {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 428px) {
  .offset-xs-0 {
    margin-left: 0;
  }
  .order-xs-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-xs-1 {
    margin-left: 8.3333333333%;
  }
  .order-xs-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-xs-2 {
    margin-left: 16.6666666667%;
  }
  .order-xs-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .order-xs-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-xs-4 {
    margin-left: 33.3333333333%;
  }
  .order-xs-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-xs-5 {
    margin-left: 41.6666666667%;
  }
  .order-xs-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .order-xs-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-xs-7 {
    margin-left: 58.3333333333%;
  }
  .order-xs-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-xs-8 {
    margin-left: 66.6666666667%;
  }
  .order-xs-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .order-xs-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-xs-10 {
    margin-left: 83.3333333333%;
  }
  .order-xs-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-xs-11 {
    margin-left: 91.6666666667%;
  }
  .order-xs-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-xs-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0;
  }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0;
  }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0;
  }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-xl-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .offset-xxl-0 {
    margin-left: 0;
  }
  .order-xxl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .order-xxl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .order-xxl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .order-xxl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .order-xxl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .order-xxl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .order-xxl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .order-xxl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .order-xxl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .order-xxl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .order-xxl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .order-xxl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-xxl-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .offset-3xl-0 {
    margin-left: 0;
  }
  .order-3xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-3xl-1 {
    margin-left: 8.3333333333%;
  }
  .order-3xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-3xl-2 {
    margin-left: 16.6666666667%;
  }
  .order-3xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-3xl-3 {
    margin-left: 25%;
  }
  .order-3xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-3xl-4 {
    margin-left: 33.3333333333%;
  }
  .order-3xl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-3xl-5 {
    margin-left: 41.6666666667%;
  }
  .order-3xl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-3xl-6 {
    margin-left: 50%;
  }
  .order-3xl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-3xl-7 {
    margin-left: 58.3333333333%;
  }
  .order-3xl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-3xl-8 {
    margin-left: 66.6666666667%;
  }
  .order-3xl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-3xl-9 {
    margin-left: 75%;
  }
  .order-3xl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-3xl-10 {
    margin-left: 83.3333333333%;
  }
  .order-3xl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-3xl-11 {
    margin-left: 91.6666666667%;
  }
  .order-3xl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-3xl-12 {
    margin-left: 100%;
  }
}
.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 428px) {
  .col-xs-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xs-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xs-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xs-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .col-xxl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xxl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xxl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xxl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xxl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xxl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xxl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xxl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xxl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .col-3xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-3xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-3xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-3xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-3xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-3xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-3xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-3xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-3xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-3xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-3xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-3xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.hidden {
  display: none !important;
}

@media screen and (max-width: 427px) {
  .hidden-xs-down {
    display: none !important;
  }
}
@media screen and (min-width: 428px) {
  .hidden-xs-up {
    display: none !important;
  }
}
@media screen and (max-width: 575px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media screen and (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media screen and (max-width: 1199px) {
  .hidden-xl-down {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}
@media screen and (max-width: 1439px) {
  .hidden-xxl-down {
    display: none !important;
  }
}
@media screen and (min-width: 1440px) {
  .hidden-xxl-up {
    display: none !important;
  }
}
@media screen and (max-width: 1439px) {
  .hidden-3xl-down {
    display: none !important;
  }
}
@media screen and (min-width: 1440px) {
  .hidden-3xl-up {
    display: none !important;
  }
}
.title {
  font-weight: 700;
  color: var(--color-title);
}
.title_content span {
  display: block;
  text-align: center;
  font-size: 2.25rem;
}
.title_for-You {
  max-width: 20rem;
  margin: 0 auto;
  margin-bottom: 1.125rem;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title_content span {
    text-align: start;
  }
}
@media screen and (min-width: 992px) {
  .title_for-You {
    margin-bottom: 1.375rem;
  }
}
.header {
  top: 0;
  z-index: 4;
  background: var(--color-bg-white);
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 4.375rem;
  position: relative;
}
.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg-white);
  min-height: 4.375rem;
  z-index: 2;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 992px) {
  .header__container {
    min-height: 5rem;
  }
  .header__container::before {
    display: none;
  }
}
.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 1.5rem;
  z-index: 3;
  display: none;
}

.theme {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: rgb(252, 252, 252);
  display: none;
}
.theme.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 4.0625rem;
  top: 1.1875rem;
}
.theme__backround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
  border: solid 0.125rem #02897A;
  border-radius: 100%;
  background-color: rgb(253, 251, 245);
  padding: 0.0625rem;
}
.theme .theme__decor, .theme .decor {
  background: #02897A;
  height: 100%;
  width: 50%;
}
.theme__decor {
  margin-left: auto;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
}
.theme .decor {
  margin-left: 0;
  margin-right: auto;
  border-radius: 100% 0 0 100%/50% 0 0 50%;
}

@media screen and (min-width: 992px) {
  .theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .theme.active {
    position: static;
  }
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  text-decoration: none;
}
.logo__img {
  max-width: 2.5rem;
  max-height: 2.25rem;
}
.logo__text {
  display: block;
  font-size: 1.875rem;
  font-weight: 700;
  margin-left: 0.6875rem;
  color: var(--color-logo);
  display: none;
}

@media screen and (min-width: 380px) {
  .logo__text {
    display: block;
  }
}
.menu {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color-menu-active);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.menu.active {
  right: 0;
}
.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  min-height: 100%;
  background-color: var(--color-menu-body);
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 4.375rem;
  padding-left: 0.625rem;
}
.menu__item {
  list-style-type: none;
}
.menu__link {
  text-decoration: none;
  color: var(--color-text-black);
}
.menu__link:hover {
  font-weight: 600;
  margin-left: -0.0625rem;
  margin-right: -0.0625rem;
}

@media screen and (min-width: 992px) {
  .menu {
    position: static;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: var(--color-menu-992);
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .menu__body {
    width: auto;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    padding-left: 0;
  }
  .menu__item_m {
    margin-left: 1.5rem;
  }
  .menu__link {
    display: block;
    padding: 0 0.125rem;
  }
  .menu__link:hover {
    font-weight: 600;
    margin-left: 1.5rem;
    margin-right: 0rem;
  }
  .menu__link_hover:hover {
    font-weight: 600;
    margin-left: -0.0625rem;
    margin-right: -0.0625rem;
  }
  .menu__link_bg-in, .menu__link_bg-up {
    font-weight: 600;
    padding: 0.625rem 1.5625rem;
    margin-left: 1.5rem;
    border-radius: 4px;
  }
  .menu__link_bg-in {
    border: solid 1px #000;
    border: 0.0625rem solid var(--color-border-sign-un);
  }
  .menu__link_bg-up {
    background: #02897A;
    color: var(--color-white);
  }
}
.burger {
  display: block;
  height: 20px;
  width: 25px;
  z-index: 2;
  position: relative;
}
.burger span {
  position: absolute;
  background-color: var(--color-bg-black);
  left: 0;
  width: 100%;
  height: 0.166rem;
  top: 8px;
  border-radius: 5.555rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  background-color: var(--color-bg-black);
  width: 100%;
  height: 3px;
  left: 0;
  border-radius: 5.555rem;
}
.burger::before {
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.burger::after {
  bottom: 1px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.burger.active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  top: 8px;
}
.burger.active span {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  bottom: 9px;
}

@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }
}
.page {
  padding-top: 6.25rem;
}

@media screen and (min-width: 992px) {
  .page {
    padding-top: 6.5625rem;
  }
}
.content__main {
  margin-top: 0.625rem;
}
.content__text {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  color: var(--color-text-black);
}
.content__source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.875rem;
}
.content__link-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-green-bg);
  font-weight: 600;
}
.content__link-video img {
  margin-right: 0.5rem;
}

@media screen and (max-width: 360px) {
  .content__link-video {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .content__text {
    max-width: 25rem;
    margin: 0;
    text-align: start;
  }
  .content__source {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 1.875rem;
  }
}
.for-You__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2rem;
  color: var(--color-text-black);
}
.for-You__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 19px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.for-You__icon img {
  margin: auto;
}
.for-You__icon_cursor {
  background-color: #02897A;
}
.for-You__icon_surveys {
  background-color: #4D8DFF;
}
.for-You__icon_heart {
  background-color: #740A76;
}
.for-You__icon_watch {
  background-color: #F03E3D;
}
.for-You__main {
  font-size: 22px;
  margin-top: 1.5rem;
}
.for-You__text {
  margin-top: 0.5rem;
  max-width: 15rem;
}

.bg-1 {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 5.625rem;
}

@media screen and (min-width: 992px) {
  .for-You__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    margin-top: 2rem;
    color: var(--color-text-black);
  }
  .for-You__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 19px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .for-You__icon img {
    margin: auto;
  }
  .for-You__icon_cursor {
    background-color: #02897A;
  }
  .for-You__icon_surveys {
    background-color: #4D8DFF;
  }
  .for-You__icon_heart {
    background-color: #740A76;
  }
  .for-You__icon_watch {
    background-color: #F03E3D;
  }
  .for-You__main {
    font-size: 22px;
    margin-top: 1.5rem;
  }
  .for-You__text {
    margin-top: 0.5rem;
    max-width: 15rem;
  }
}
.buttom {
  background-color: var(--color-green-bg);
  font-weight: 700;
  color: var(--color-white);
  border: none;
  border-radius: 0.25rem;
}
.buttom_content {
  padding: 0.9375rem 1.5625rem;
  margin-right: 1.75rem;
}
.buttom_for-You {
  display: block;
  padding: 0.9375rem 2.125rem;
  margin: 0 auto;
  margin-top: 2.125rem;
}

@media screen and (max-width: 360px) {
  .buttom_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0rem;
  }
}
.illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.illustration__img {
  width: 21.25rem;
  height: 19.375rem;
  background-image: url("/imeges/content/people.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .illustration {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media screen and (min-width: 992px) {
  .illustration {
    max-width: 36.875rem;
    height: 31.875rem;
  }
  .illustration__img {
    width: 100%;
    height: 100%;
    background-image: url("/imeges/content/people.big.svg");
  }
}
.section {
  margin-bottom: 6.25rem;
}
.section_content {
  margin-top: 0;
}
@media screen and (min-width: 992px) {
  .section {
    margin-bottom: 9.375rem;
  }
  .section_content {
    margin-top: 0;
    margin-bottom: 7.1875rem;
  }
}/*# sourceMappingURL=styles.css.map */