html, body{
   font-size: var(--base-font-size);
   line-height: var(--baseline);
}

body{
   font-family: var(--font-family);
   font-weight: var(--font-weight);
}

html.noscroll {
   overflow: hidden;
}