html, body{
   font-size: var(--base-font-size);
   line-height: var(--baseline);
}

html.noscroll {
   overflow: hidden;
}

body{
   font-family: var(--font-family);
   font-weight: var(--font-weight);
   background-color: var(--color-bg-white);
}

