//const
:root {
   --color-white: #fff;
   --color-black: #000;
   --color-border-sign-un: #BCD0E5;
   --color-green: #02897A;
   --color-standart: #22343D;
   --color-month: #AFAFAF;
   --color-hover: #10a897;

   --border-color: #dedede; // ддля фор и стратегис 
}


.light {
   --color-text-black: #22343D;
   --color-text-white: #fff;
   --color-bg-white: #fff;
   --color-bg-black: #000;
   //Элементы header
   --color-logo: #173A56;
   --color-menu-active: rgba(255, 255, 255, 0.6);
   --color-menu-body: #fff;
   --color-menu-992: #fff;
   --color-link-hover-1: transparent;
   --color-link-hover-2: transparent;
   --color-link-hover-3: transparent;
   //swiper
   --color-swiper-pagination-bullet: #000;
   // customers
   --color-bg-L-D:#F5F5F5;
}

.dark {
   --color-text-black: #fff;
   --color-text-white: #000;
   --color-bg-white: #1F2E35;
   --color-bg-black: #fff;
   //Элементы header
   --color-menu-active: rgba(0, 0, 0, 0.6);
   --color-logo: #fff;
   --color-menu-body: #1F2E35;
   --color-menu-992: #1F2E35;
   --color-link-hover-1:rgb(243, 241, 241);
   --color-link-hover-2:#02897A;
   --color-link-hover-3:#02897A;
   //swiper
   --color-swiper-pagination-bullet: #fff;
   // customers
   --color-bg-L-D: #22343D;
}





.light {
   .section_bg-b {
      &::after {
         background:  linear-gradient(179.59deg,rgba(255, 255, 255, 0.0001) 0.35%, #EDEDED  99.63%);
      }
   }
   .section_bg-t {
      &::after {
         background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
      }
   }
}



.dark {
   .section_bg-b{
      &::after {
         background: linear-gradient(179.59deg,rgba(67, 67, 67, 0.0001)  0.35%, #22343D  99.63%);
      }
   }
   .section_bg-t {
      &::after {
         background: linear-gradient(179.59deg, #22343D 0.35%, rgba(67, 67, 67, 0.0001) 99.63%);
      }
   }
}