//const
:root {
   --color-white: #fff;
   --color-white-2: #eaeaea;
   --color-black: #000;
   --color-border-sign-un: #BCD0E5;
   --color-green: #02897A;
   --color-standart: #22343D;
   --color-month: #AFAFAF;
   --color-hover: #10a897;
   --border-color: #dedede; 
}

[data-theme="light"] {
   --color-text-dark: #000;
   --color-text-black: #22343D;
   --color-text-white: #fff;
   --color-bg-white: #fff;
   --color-bg-black: #000;
   //Элементы header
   --color-logo: #173A56;
   --color-menu-active: rgba(255, 255, 255, 0.6);
   --color-link-hover-1: transparent;
   --color-link-hover-2: transparent;
   --color-link-hover-3: transparent;
   // customers
   --color-bg-L-D:#F5F5F5;
   //resources
   --color-form: #fff;
   --color-border:#DDDDDD;
   //history
   --border-color-history: #dedede;
}

[data-theme="dark"] {
   --color-text-dark: #fff;
   --color-text-black: #fff;
   --color-text-white: #000;
   --color-bg-white: #1F2E35;
   --color-bg-black: #fff;
   //Элементы header
   --color-menu-active: rgba(0, 0, 0, 0.6);
   --color-logo: #fff;
   --color-link-hover-1:rgb(243, 241, 241);
   --color-link-hover-2:#02897A;
   --color-link-hover-3:#02897A;
   // customers
   --color-bg-L-D: #22343D;
   //resources
   --color-form: #22343D;
   --color-border:#464646;
   //history
   --border-color-history: #fff;
}