.is-fixed{
   position: fixed;
   left: 0;
   width: 100%;
}

.mb-2{
   margin-bottom: 1.6rem;
}

.is-block {
   display: block;
}

.is-uppercase {
   text-transform: uppercase;
}

.is-center {
   justify-content: center;
}

.border {
   border: 1px solid var(--border-color);
}

.bg-light-dark {
   background-color: var(--color-bg-L-D);
}