.burger {
   display: block;
   height: 20px;
   width: 25px;
   z-index: 2;
   position: relative;
   span {
      position: absolute;
      background-color: var(--color-bg-black);
      left: 0;
      width: 100%;
      height: 0.166rem;
      top: 8px;
      border-radius: 5.555rem;
      transition: all 0.3s;
   }
   &::before,&::after {
      content: '';
      position: absolute;
      background-color: var(--color-bg-black);
      width: 100%;
      height: 3px;
      left: 0;
      border-radius: 5.555rem;
   }
   &::before {
      top: 0;
      transition: all 1s;
   }
   &::after {
      bottom: 1px;
      transition: all 1s;
   }
   &.active::before {
      transform: rotate(-45deg);
      transition: all 1s;
      top: 8px;
   }
   &.active span {
      transform: scaleX(0);
      transition: all 0.3s ;
   }
   &.active::after {
      transform: rotate(45deg);
      transition: all 1s;
      bottom: 9px;
   }
}

@media screen and (min-width:992px){
   .burger { 
      display: none;
   }
}