.button {
   background-color: var(--color-green);
   font-weight: 700;
   color: var(--color-white);
   border: none;
   border-radius: rem(4px);
   transition: all .6s;
   &:hover {
      background-color: var(--color-hover);
   }
   &_center {
      display: block;
      margin: 0 auto;
   }
}
