.buttom {
   background-color: var(--color-green-bg);
   font-weight: 700;
   color: var(--color-white);
   border: none;
   border-radius: rem(4px);
   &_content {
      padding: rem(15px) rem(25px);
      margin-right: rem(28px);
   }
   &_for-You {
      display: block;
      padding: rem(15px) rem(34px);
      margin: 0 auto;
      margin-top: rem(34px);
   }
}

@media screen and (max-width:360px) {
   .buttom {
      &_content {
         justify-content: center;
         margin-right: rem(0px);
      }
   }
}