.company {
   padding-top: rem(80px);
   &__img {
      &_m {
         margin-bottom: rem(50px);
      }
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         height: 50px;
      }
   }
}


@media screen and (min-width:992px) {
   .company {
      &__img {
         &_m {
            margin-bottom: 0;
         }
      }
   }
}