.for-you {
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: rem(32px);
      color: var(--color-text-black);
   }
   &__icon {
      display: flex;
      width: rem(50px);
      height: rem(50px);
      border-radius: 19px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      
      img {
         margin: auto;
      }
      &_cursor {
         background-color: #02897A;
      }
      &_surveys {
         background-color: #4D8DFF;
      }
      &_heart {
         background-color: #740A76;
      }
      &_watch {
         background-color: #F03E3D;
      }
   }
   &__main {
      font-size: rem(22px);  
      margin-top: rem(24px);
   }
   &__text {
      margin-top: rem(8px);
      max-width: rem(240px);
   }
}


@media screen and (min-width:992px) {
   .for-you {
      &__item {
         align-items: flex-start;
         text-align: start;
      }
   }
}