.grade {
    margin-bottom: rem(32px);
    padding: rem(28px) rem(28px) rem(24px) rem(28px) ;
    background-color: var(--color-white);
    @extend .border;
    border-radius: 5px;
    &_m {
        margin-bottom: rem(32px);
    }
    &__img {
        margin-bottom: rem(16px);
    }
    &__paragraph {
        margin-bottom: rem(16px);
    }
    &__block {
        display: flex;
    }
    &__aftor {
        margin-right: rem(14px);
    }
    &__text {
        font-weight: 500;
        font-size: rem(14px);
    }
    &__text-o {
        color: var(--color-green);
        font-weight: 600;
    }
}

@media screen and (min-width:768px) {
    .grade {
    margin-bottom: rem(32px);
    }
}