.header {
    top: 0;
    z-index: 4;
    background: var(--color-bg-white);
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    &__container {
       display: flex;
       align-items: center;
       min-height:rem(70px);
       position: relative;
    }
    &__logo {
        flex: 1;
    }
    .logo {
        display: inline-flex;
    }
 }
 
 @media screen and (min-width:992px) {
    .header {
       &__container {
          min-height:rem(80px);
          &::before { 
             display: none;
          }
       }
    }
 }
