
.history {
   &__container {
      display: flex;
      justify-content: center;
   }
   &__main {
      border-radius: 10px;
      border: solid 1px  var(--border-color-history);
      background-color: var(--color-white);
      position: relative;
   }
   &__main img {
      width: 100%;
      text-align: center;
      border-top-left-radius: rem(8px);
      border-top-right-radius: rem(8px);
   }
   &__header {
      padding: rem(24px) rem(24px) rem(40px) rem(24px);
   }
   &__data {
      span {
         font-weight: 700;
      }
   }
   &__paragraph {
      font-weight: 700;
      font-size: rem(24px);
   }
}

.history_resourse {
   .history__container {
        margin-bottom: rem(32px);
    }
    .history__main {
   }
   .history__main img {
        display: flex;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
   }
   .history__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

   }
   .history__text {
        color: var(--color-text-black);
        margin-right: rem(8px);
   }
   .history__icon {
        width: rem(20px);
        height: rem(20px);
        font-weight: 700;
        font-size: 18px;
        background-repeat: no-repeat;
   }
}

[data-theme="light"] {
   .history__icon{
         background-image: url("/images/resources/circle_right.svg");
   }
}

[data-theme="dark"] {
   .history__icon {
         background-image: url("/images/resources/circle_right-white.svg");
   }
}


