.info {
    color: var(--color-text-black);
    &__caption {
       font-weight: 600;
       margin-bottom: rem(12px);
    }
    &__paragraf {
       margin-bottom: rem(30px);
    }
    //castom two block
    &__item {
       display: flex;
       align-items: center;
       margin-bottom: rem(30px);
    }
    &__tick {
       width: rem(35px);
       height: rem(35px);
       border-radius: rem(14px);
       margin-right: rem(30px);
       position: relative;
       background: url(../images/infarmation/Path.svg) no-repeat center;
       &_yellow {
          background-color: #FF9900;
       }
       &_red {
          background-color: #F03E3D;
       }
       &_blue {
          background-color: #4D8DFF;
       }
    }
    &__text {
       flex: 1
    }
 }

 // customents
 .info_customers {

    .subtitle {
       margin-bottom: rem(16px);
    }
    .info__button {
       display: flex;
       justify-content: center;
    }
    .button {
       padding: rem(11px) rem(18px);
       font-weight: 600;
       font-size: rem(18px);
       margin-top: rem(75px);
       margin-left: auto;
       margin-right: auto;
    }
 }
 @media screen and (max-width:767px) {
    .info__picture {
        img {
            margin-bottom: rem(70px);
        }
    }
 }
 
 // Pricing
 .info_pricing {
    .title {
       font-weight: 600;
    }
    .info__item {
        display: flex;
        align-items: center;
        margin-bottom: rem(16px);
    }
    .info__icon {
        display: flex;
        background-color: #F4F5F7;
        width: rem(50px);
        height: rem(50px);
        border-radius: 50%;
        margin-right: rem(15px);
        img {
        width: 24px;
        height: 24px;
        margin: auto;
    }  
    }
    .info__text:not(:last-child) {
       margin-bottom: rem(32px);
    }
 }
 
 @media screen and (max-width:767px){
    .info_pricing {
        .info__picture {
            img {
                margin-bottom: rem(30px);
            }
        }
    }
 }
 @media screen and (min-width:768px) {
    .info_pricing {
        .info__picture {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
 }


 @media screen and (min-width:768px) {
    .info {
        &-img-right {
            margin: 0px;
            margin-left: auto;
        }
    }
 }