.info {
   &__picture {
      display: flex;
      justify-content: center;
      margin-bottom: rem(50px);
      width: 300px;
      height: auto;
   }
   &__img {
      background-repeat: no-repeat;
      background-size: contain;
      width: rem(350px);
      height: rem(310px);
      &_one {
         background-image: url("/imeges/infarmation/one.svg");
      }
      &_two {
         background-image: url("/imeges/infarmation/two.svg");
      }
      &_three {
         background-image: url("/imeges/infarmation/three.svg");
         
      }
   }
   &__header {
      color: var(--color-text-black);
   }
   &__caption {
      font-weight: 600;
      margin-bottom: rem(12px);
   }
   &__paragraf {
      max-width: rem(486px);
      &_one {
         margin-bottom: rem(30px);
      }
      &_two {
         margin-bottom: rem(25px);
      }
      &_three {

      }
   }
   //castom two block
   &__item {
      display: flex;
      align-items: center;
      margin-bottom: rem(30px);
   }
   &__tick {
      display: flex;
      flex: 0 0 auto;
      width: rem(35px);
      height: rem(35px);
      border-radius: rem(14px);
      margin-right: rem(30px);
      position: relative;
      img {
         margin: auto;
         width: 16px;
         height: 12px;
      }
      &_yellow {
         background-color: #FF9900;
      }
      &_red {
         background-color: #F03E3D;
      }
      &_blue {
         background-color: #4D8DFF;
      }
   }
   &__text {
      max-width: rem(380px);
      &_l{
         max-width: rem(350px);
      }
   }
}


@media screen and (min-width:768px) {
   .info {
      &__picture {
         align-items: center;
         margin-bottom: 0;
         &_order {
            order: 1;
         }
         
      }
   }
}
@media screen and (min-width:992px) {
   .info {
      &__picture {
         justify-content: center;
         width: 500px;
         height: auto;
         &_order {
            justify-content: flex-end;
         }
      }
      &__img {
         width: rem(500px);
         &_one {
            width: rem(475px);
            height: rem(420px);
         }
         &_two {
            width: rem(540px);
            height: rem(450px);
         }
         &_three {
            height: rem(410px);
         }
      }
   }
}
