.logo{
   display: flex;
   align-items: center;
   z-index: 2;
   text-decoration: none;
   &__img {
      max-width: rem(40px);
      max-height: rem(36px);
   }
   &__text {
      display: block;
      font-size: rem(30px);
      font-weight: 700;
      margin-left: rem(11px);
      color: var(--color-logo);
   }
}

@media screen and (min-width:380px) {
   .logo {
      &__text {
         display: block;
      }
   }
}


