.menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: var(--color-menu-active);
   transition: opacity 0.25s linear;
   opacity: 0;
   visibility: hidden;
   &.active {
      opacity: 1;
      visibility: visible;
      .menu__body {
         left: 0;
      }
   }
   &__body {
      display: flex;
      position: absolute;
      top: 0;
      left: -60%;
      flex-direction: column;
      width: 60%;
      min-height: 100%;
      transition: all 0.65s linear;
      overflow-y: auto;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: var(--color-menu-body);
         z-index: -1;
      }
   }
   &__list {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: rem(70px);
      padding-left: rem(15px) ;
   }
   &__item {
      list-style-type: none;
      margin: rem(4px) 0;
   }
   &__link {
      text-decoration: none;
      color: var(--color-text-black);
      font-size: rem(20px);
      &_active , &_hover:hover {
         text-shadow: 1px 1px 2px var(--color-link-hover-1), 0 0 1em var(--color-link-hover-2), 0 0 0.2em var(--color-link-hover-3);
         font-weight: 600;
         margin-left: rem(-1px);
         margin-right: rem(-1px);
      }
      // &_hover:hover {
      //    text-shadow: 1px 1px 2px var(--color-link-hover-1), 0 0 1em var(--color-link-hover-2), 0 0 0.2em var(--color-link-hover-3);
      //    font-weight: 600;
      //    margin-left: rem(-1px);
      //    margin-right: rem(-1px);
      // }
      &_bg-in , &_bg-up {
         margin-left: 10px;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            width: 8px;
            height: 2px;
            background-color: #02897A;
            transform: rotate(90deg);
            visibility: hidden;
            opacity: 0;
            transition: .6s;
         }
         &:hover {
            text-shadow: 1px 1px 2px var(--color-link-hover-1), 0 0 1em var(--color-link-hover-2), 0 0 0.2em var(--color-link-hover-3);
            &::after {
            transition: .6s;
            visibility: visible;
            opacity: 1;
            }
         }
         &:before  {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            width: 8px;
            height: 2px;
            background-color: #02897A;
       }
      }
   }
}
@media screen and (min-width:992px) {
   .menu {
      position: static;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      background-color: var(--color-menu-992);     
      opacity: 1;
      visibility: visible;
      &__body {
         width: auto;
         position: static;
         transition: 0s;
      }
      &__list {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding-top: 0;
         padding-left: 0;
      }
      &__item {
         margin: 0;
         &_m {
            margin-left: rem(24px);
         }
      }
      &__link {
         display: block;
         padding: 0 rem(2px);
         font-size: rem(16px);
         &::before {
            display: none;
         }
         &:hover {
            font-weight: 600;
            margin-left: rem(24px);
            margin-right: rem(0px);
         }
         &_hover:hover {
            font-weight: 600;
            margin-left: rem(-1px);
            margin-right: rem(-1px);
         }
         &_bg-in , &_bg-up {
            font-weight: 600;
            padding:rem(10px) rem(25px);
            margin-left: rem(24px);
            border-radius: 4px;
            position: static;
            &:hover {
               text-shadow: none;
               transition: all .6s;
            }
         }
         &_bg-in {
            border: solid 1px #000;
            border: rem(1px) solid var(--color-border-sign-un);
            position: relative;
            &::before {
               background-color: #fff;
            }
            &::after {
                  display: none;
               }
         }
         &_bg-up {
            transition: all .6s;
            background: var(--color-green);
            color: var(--color-white);
         }
         &_bg-in:hover{
            background-color: var(--color-white);
            color: var(--color-green);
         }
         &_bg-up:hover {
            background-color: var(--color-hover);
         }
      }
   }
}