.menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: var(--color-menu-active);
   transition: opacity 0.25s linear;
   opacity: 0;
   visibility: hidden;
   &.active {
      opacity: 1;
      visibility: visible;
      .menu__body {
         left: 0;
      }
   }
   &__body {
      display: flex;
      position: absolute;
      top: 0;
      left: -60%;
      flex-direction: column;
      width: 60%;
      min-height: 100%;
      background-color: var(--color-menu-body);
      transition: all 0.65s linear;
      overflow-y: auto;
   }
   &__list {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: rem(70px);
      padding-left: rem(10px) ;
   }
   &__item {
      list-style-type: none;
   }
   &__link {
      text-decoration: none;
      color: var(--color-text-black);
      &:hover {
         font-weight: 600;
         margin-left: rem(-1px);
         margin-right: rem(-1px);
      }
   }
}

@media screen and (min-width:992px) {
   .menu {
      position: static;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      background-color: var(--color-menu-992);     
      opacity: 1;
      visibility: visible;
      &__body {
         width: auto;
         position: static;
         transition: 0s;
      }
      &__list {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding-top: 0;
         padding-left: 0;
      }
      &__item {
         &_m {
            margin-left: rem(24px);
         }
      }
      &__link {
         display: block;
         padding: 0 rem(2px);
         &:hover {
            font-weight: 600;
            margin-left: rem(24px);
            margin-right: rem(0px);
         }
         &_hover:hover {
            font-weight: 600;
            margin-left: rem(-1px);
            margin-right: rem(-1px);
         }
         &_bg-in , &_bg-up {
            font-weight: 600;
            padding:rem(10px) rem(25px);
            margin-left: rem(24px);
            border-radius: 4px;
         }
         &_bg-in {
            border: solid 1px #000;
            border: rem(1px) solid var(--color-border-sign-un);
         }
         &_bg-up {
            background: #02897A;
            color: var(--color-white);
         }
      }
   }
}