.section {
   margin-bottom: rem(100px);
   &__heading {
      text-align: center;
      margin-bottom: rem(50px);
      .subtitle {
         margin-top: rem(8px);
      }
      .title__xs {
         margin-bottom: rem(32px);
      }
   }
   &_content{
      margin-top: 0;
      .title {
         text-align: center;
      }
   }
   &_info {
      .title_xs {
         margin-bottom: rem(8px);
      }
      .title_sm {
         margin-bottom: rem(24px);
      }
   }

   //section for-you и process 
   &_bg-t , &_bg-b {
      width: 100%;
      overflow: hidden;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 270%;
         height: 100%;
         z-index: -1;
      }
   }
   &_bg-b {
      padding-bottom: rem(40px);
      &::after {
         border-radius:  0 0 50% 50%;
      }
   }
   &_bg-t {
      padding-top: rem(40px);
      &::after {
         border-radius: 50% 50% 0 0;
      }
   }
}

@media screen and (min-width:575px) {
   .section {
      &_bg-t , &_bg-b {
         &::after {
            width: 170%;
         }
      }
   }
}

@media screen and (min-width:768px)  {
   .section {
      &_strategies {
         .section__heading {
            text-align: left;
         }
      }
      &_content {
         .title {
            text-align: left;
         }
      }
   }
}

@media screen and (min-width:992px) {
   .section {
      margin-bottom: rem(150px);
      &_content{
         margin-top: 0;
         margin-bottom: rem(115px);
      }
      &_bg-t , &_bg-b {
         &::after {
            width: 150%;
         }
      }
   }
}
