.strategies {
   &__body {
      min-width: 0;
      overflow-x: hidden;
   }
   &__slide {
      display: flex;
      justify-content: center;
   }
   &__slide-img {
      width: 360px;
      border-radius: 10px;
      }
   &__slide-img img {
      width: 100%;
      max-height: 177px ;
      text-align: center;
   }
   &__header {
      background-color: #fff;
      color: var(--color-standart);
      border-radius: 0 0 rem(8px) rem(8px) ;
      margin-top: rem(-8px);
      padding-left: rem(24px);
      padding-bottom: rem(40px);
   }
   &__data {
      padding-top: rem(24px);
      span {
         font-weight: 700;
      }
   }
   &__paragraf {
      font-weight: 700;
      font-size: rem(24px);
      max-width: rem(294px);
   }
}
