.swiper-container {
   .swiper-wrapper {
      padding-bottom: 80px;
   }
   .swiper-lazy {
      height: 177px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
   }
   position: relative;
   padding-top: rem(30px);
   padding-bottom: rem(0px);
   .swiper-pagination{
      bottom: -110;
      z-index: 1;
   }
   .swiper-pagination-bullet{
      width: rem(16px);
      height: rem(16px);
      font-size: 14px;
      background-color: var(--color-swiper-pagination-bullet);
   }
   .swiper-pagination-bullet-active {
      background-color: var(--color-green);
   }
}
.swiper-slide-active {
   .strategies__paragraf {
      color: var(--color-green);
   }
}

.swiper-lazy-preloader {
   top: 25% !important;
   animation: spin 2s linear infinite !important;
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}


