.title {
   font-weight: 700;
   color: var(--color-text-black);
   &_for-you , &_process , &_price , &_clients , &_content span {
      text-align: center;
   }
   &_strategies , &_price , &_clients {
      margin-bottom: rem(8px);
   }
   &_content span {
         display: block;
         font-size: rem(36px);
   }
   &_for-you {
      max-width: rem(320px);
      margin: 0 auto;
      margin-bottom: rem(18px);
      font-size: rem(32px);
   }
   &_info {
      font-weight: 700;
      margin-bottom: rem(23px);
   }
}

@media screen and (min-width:768px) { 
   .title {
      &_content span {
            text-align: start;
      }
   }
}

@media screen and (min-width:992px) { 
   .title {
      &_for-you {
         margin-bottom: rem(22px);
         max-width: rem(520px);
      }
   }
}